<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>



<h1>Gulab Jamun</h1>

<img src="images/1200px-Flag_of_India.svg.png" height="50" width="100"/>

<img src="images/gulab-jamun.jpg" height="666" width="999"/>

<h2>Ingredients</h2>
<p1>
    <ul>
        <li>1 cup dry milk powder</li>

        <li>3 tablespoons all-purpose flour</li>

        <li>2 tablespoons ghee (clarified butter), melted</li>

        <li>1/2 teaspoon baking powder</li>

        <li>1/2 cup warm milk</li>

        <li>1 tablespoon chopped almonds (optional)</li>

        <li>1 tablespoon chopped pistachio nuts (optional)</li>

        <li>1 tablespoon golden raisins (optional)</li>

        <li>1 pinch ground cardamom</li>

        <li>1 quart vegetable oil for deep frying</li>

        <li>1 1/4 cups white sugar</li>

        <li>7 fluid ounces water</li>

        <li>1 teaspoon rose water</li>

        <li>1 pinch ground cardamom</li>
    </ul>
</p1>
<p2>
    <h2>Directions</h2>
    In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins.
    Mix in the melted ghee, then pour in the milk, and continue to mix until well blended. Cover and let rest for 20 minutes.

</p2>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>