<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Injera</title>

</head>
<img src="images/Flag_of_Ethiopia.svg" height="50" width="100"/>
<h1>Injera</h1>


<img src="images/ethiopia-pancake-677x302.jpg" height="425" width="541"/>
<body>
<h2>Ingredients</h2>
<p1>
    <ul>


        <li> ¾ cup teff flour (found in health food shops)</li>

        <li> 3½ cups water</li>

        <li>pinch of salt</li>
    </ul>
</p1>
<h2>Directions</h2>
<p2>
    <ul>
        <li>Standing time 2 days</li>

        <li>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</li>

        <li>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</li>

        <li>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</li>

        <li>Do not let it brown, and make sure that it is not too thick.</li>
    </ul>

</p2>
</body>
</html>